header {
	.main-logo-header {
		@include gridle(2);
		background: url('../src/logo-sibib-color.png') no-repeat center center;
		float: left;
		height: 102px;
		width: 116px;
		margin-top: 10px;
		.main-brand-header {
			display: none;
		}
	}
	nav {
		float: right;
		margin-top: 50px;
		a#main {
			color: $gray-base;
			text-shadow: none;
		}
		a#main::after {
			background: $blue-base;
		}
	}
}

.nav-menu {
	background: #EAEAEA;
	border-top: 1px solid $gray-line;
	border-bottom: 1px solid $gray-line;
	margin-top: 20px;
	padding: 10px 0;
	nav {
		text-align: center;
	}
}

.nav-link {
	@include montserrat(12px, $light-gray);
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 10px;
	@include transition(0.25s);
	&:hover {
		color: $blue-base;
	}
}

.section-selected {
	@include montserrat(12px, $blue-base);
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 10px;
}

.nav-menu .nav-left {
	text-align: left;
	label {
		@include montserrat(12px, $light-gray);
		text-transform: uppercase;
		text-decoration: none;
	}
	.section-selected {
		color: $blue-base;
	}
}

.title-section {
	@include montserrat(40px, $blue-base);
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

.title-line {
	border: 1px solid $blue-base;
	width: 110px;
	margin-bottom: 30px;
}

.img-section {
	@include gridle(5);
}

.info-section {
	@include gridle(7);
}

.img-center {
	text-align: center;
}