.btn-link {
	@include gridle(3);
	@include gridle(4, tablet);
	@include gridle(6, mobile);
	text-decoration: none;
	.btn-content {
		background: white;
		min-height: 230px;
		text-align: center;
		margin-bottom: 25px;
		border: 1px solid $gray-line;
		label {
			@include montserrat(14px, $gray-base);
			text-transform: capitalize;
		}
    hr {
    border: 1px solid $light-gray;
    width: 80px;
    margin: 5px auto;
  }
	}
}

.img-link {
	height: 150px;
	width: 100%;
	overflow: hidden;
	margin-bottom: 15px;
  img {
		max-width: 100%;
		height: auto;
	}
}


figure.ebook{
  min-height: 150px;
  max-height: 250px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
  img {
    max-width: 100%;
    height: auto;
  }
}

.icon-link {
	height: 150px;
	overflow: hidden;
	margin-bottom: 25px;
	img {
		width: 70px;
		height: 70px;
		margin-top: 40px;
	}
}

#catalogo-ucm {
	background: #F48652;
}
#otros-catalogos {
	background: #EBC900;
}
#datos {
	background: #5BBAB4;
}
#revistas {
	background: #316C9E;
}
.revistas {
	background: #316C9E;
}
#ebooks {
	background: #44ABD5;
	text-align: center;
	img {
		width: 70px;
		height: auto;
	}
}
#repo {
	background: #9C88CB;
}
#otros-repo {
	background: #6C5D93;
}
#area {
	background: #DC5455;
}

#ebooks-bg {
	background: #44ABD5;
	text-align: center;
	img {
		width: 70px;
		height: auto;
	}
	h1 {
		color: white;
	}
	hr {
		border-color: white;
	}
}

.explanation {
	@include droid-serif(18px, white);
}

#repo-bg {
	background: #6C5D93;
	text-align: center;
	img {
		width: 70px;
		height: auto;
	}
	h1 {
		color: white;
	}
	hr {
		border-color: white;
	}
}

#datos-bg {
	background: #5BBAB4;
	text-align: center;
	img {
		width: 70px;
		height: auto;
	}
	h1 {
		color: white;
	}
	hr {
		border-color: white;
	}
}

#area-bg {
	background: #DC5455;
	text-align: center;
	img {
		width: 70px;
		height: auto;
	}
	h1 {
		color: white;
	}
	hr {
		border-color: white;
		margin-bottom: 5px;
	}
}

#revistas-bg {
	background: #316C9E;
	text-align: center;
	img {
		width: 70px;
		height: auto;
	}
	h1 {
		color: white;
	}
	hr {
		border-color: white;
		margin-bottom: 5px;
	}
}

.search-bar {
	margin: 10px auto 0 auto;
	display: inline-block;
	position:relative;
	width:100%;
	input {
		@include open-sans(400, 15px, $gray-base);
		float: left;
		width: 520px;
		margin-right: 10px;
		margin-top: 15px;
		border: none;
		padding: 5px;
		border-radius: 4px;
		width:80%;
    margin-left:13%;
	}
	.btn-search {
		float: left;
		cursor: pointer;
		background: white;
		padding: 20px;
		height: 20px;
		width: 20px;
		border-radius: 30px;
		@include transition(0.25s);
		#btn-icon {
			width: 20px;
			height: auto;
		}
		&:hover {
			opacity: 0.8;
		}
	}
}

.multiple-bar {
	margin: 10px auto 0 auto;
	display: inline-block;
	select {
		@include open-sans(400, 15px, $gray-base);
		float: left;
		background-color: white;
		width: 200px;
		height: 30px;
		margin-right: 10px;
		margin-top: 20px;
		border: none;
		padding: 5px;
		border-radius: 4px;
	}
	.btn-search {
		float: left;
		cursor: pointer;
		background: white;
		padding: 20px;
		height: 20px;
		width: 20px;
		border-radius: 30px;
		@include transition(0.25s);
		#btn-icon {
			width: 20px;
			height: auto;
		}
		&:hover {
			opacity: 0.8;
		}
	}
}

.ebook {
	@include gridle(2);
	@include gridle(3, tablet);
	@include gridle(6, mobile);
	text-align: center;
	margin: 15px 0;
	cursor: pointer;
	figure {
		width: 130px;
		height: 200px;
		background: $gray-bg url('../src/cover-ebooks/no-cover.png') no-repeat center center;
		margin: 0 auto 10px auto;
		overflow: hidden;
		border: 1px solid $gray-line;
		img {
			width: auto;
			max-height: 100%;
		}
	}
  hr {
    border: 1px solid $light-gray;
    width: 80px;
    margin: 5px auto;
  }
}
.title-ebook {
	@include droid-serif(14px, $gray-base);
}

.author-ebook {
	@include open-sans(400, 13px, $light-gray);
}

