//frameworks

@import "compass";
@import "gridle/gridle";

//mixins

@import 'settings';
@import 'mixins';
@import 'simtip';
@import 'slidebars';
@import 'color';
@import 'font';
@import 'team';
@import 'sub';
@import 'recursos';



//style

html {
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
}

h3 {
	@include montserrat(20px, $gray-base);
	text-transform: uppercase;
	margin: 0 0 25px 0;
}

#no-margin {
	margin: 0;
}

.p-standard {
	@include open-sans(400, 13px, $gray-base);
	margin: 10px 0;
}

.submenu {
	background-color: $blue-base;
	height: 25px;
	padding: 5px;
	nav {
		display: block;
		margin-top: 3px;
		float: right;
		@include gridle_state(mobile){
			float: none;
			text-align: center;
		};
		a {
			@include montserrat(12px, white);
			margin-left: 10px;
			text-transform: uppercase;
			text-decoration: none;
			position: relative;
			display: inline-block;
			outline: none;
			@include transition(0.25s);
		}
		a:hover {
			color: darken($blue-base, 20%);
		}
	}
}

.nav-mobile {
	margin: 30px;
	padding: 0;
	li {
		list-style: none;
		margin-bottom: 20px;
	}
	.mobile-link {
		@include montserrat(18px, white);
		text-decoration: none;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
	.mobile-selected {
		color: darken($blue-base, 20%);
	}
}

.container {
	@include width;
	clear: both;
	padding: 40px 0;
	&.header {
		padding: 0;
	}
	&.title {
		padding: 20px 0 35px 0;
	}
	&.small {
		padding: 5px 0 5px 0;
	}
	&.footer {
		padding: 40px 0 10px 0;
	}
}

.welcome {
	background: #f5f5f5 url('../images/img-welcome.png') no-repeat center center;
	background-size: cover;
	height: 465px;
	position:relative;
	top:-167px;
	margin-bottom: -160px;
}
.fixed{
	position:fixed;
	top:0px;
	width:100%;
	z-index:99999;
	transition: 0.3s linear;
	&.white{
		background-color:#fff;
	}
}


header {
	&.onTop{
		top:0;

		.mini{
			&.sb-toggle-right{
				position: relative;
				top: -35px;
			}
		}
		.shadow{
			background-color:#000;
			height:45px;
		}
		nav{
			margin-top:10px;
		}
		#logo-header{
			background-size: 40px;
			/* Prefer absolute urls to avoid confusion. */
		    -ms-behavior: url(/resources/backgroundsize.min.htc);
			top: -30px;
			position: relative;
			margin-top:0px;
		}
		.main-logo-header{
			width:70px;
			height:auto;
		}
	}
	.shadow{
		height: 120px;
		background: rgba(0, 0, 0, 0.5);
	}
	#logo-header{
		@include gridle(2);
		background: url('../images/logo-sibib-white.png') no-repeat center center;
		float: left;
		height: 102px;
		width: 116px;
		margin-top: 10px;
		.brand-header{
			display: none;
		}
	}
	nav {
		@include gridle_hide(mobile tablet);
		float: right;
		margin-top: 50px;
		a{
			@include montserrat(13px, white);
			text-shadow: 0px 1px 2px rgba(0,0,0,0.50);
			text-decoration: none;
			text-transform: uppercase;
			margin-left: 50px;
			position: relative;
			display: inline-block;
			outline: none;
		}
		a::after {
			position: absolute;
			top: 120%;
			left: 0;
			right: 0;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			height: 1px;
			background: white;
			content: '';
			opacity: 0;
			@include transition(0.25s);
			-webkit-transform: translateY(-10px);
			-moz-transform: translateY(-10px);
			transform: translateY(-10px);
		}
		a:hover::after,
		a:focus::after {
			height: 2px;
			opacity: 1;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			transform: translateY(0px);
		}
	}
}

.shadow-down {
	margin-top: 166px;
	background: rgba(0, 0, 0, 0.5);
	&.withFixed{
		position: relative;
		top: 66%;
	}
	@include gridle_state(mobile tablet) {
		text-align: center;
	}
	.welcome-date {
		@include droid-serif(13px, white);
		text-shadow: 0px 1px 2px rgba(0,0,0,0.50);
	}
	h5 {
		margin: 0 0 12px 0;
		width: 55%;
		@include gridle_state(mobile tablet) {
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
		.welcome-title {
			@include open-sans(400, 25px, white);
			text-shadow: 0px 1px 2px rgba(0,0,0,0.50);
			text-decoration: none;
		}
		.welcome-title:hover {
			text-decoration: underline;
		}
	}
	.btn-main {
		margin-top: 20px;
		.btn-news {
			border: 1px solid white;
			padding: 7px 10px 4px 10px;
			color: white;
			margin: 0;
			cursor: pointer;
			@include transition(0.4s);
		}
		.btn-news:hover {
			background: rgba(255, 255, 255, .5);
		}
	}
}

.main-content{
	margin-top:50px;
	position:relative;
	&.top100{
		margin-top:120px;
	}
}

.busqueda {
	@include gridle(7);
	.busqueda-modulo {
		border: 1px solid $gray-line;
		background: white;
		padding-top: 10px;
    padding-bottom: 10px;
    height:90px;
    max-height:90px;
	}
}

.destacamos {
	@include gridle(5);
	.links-destacamos {
		padding: 10px;
	}
	.destacamos-modulo {
		background: white;
		width: 100%;
    .destacado{
      display:inline-block;
      cursor:pointer;
      width: auto;
      min-width: 120px;
      max-width: 150px;
      @include gridle(12, mobile);
      text-align:center;
      padding:10px;
      margin-right:5px;
      margin-bottom:10px;
      border-radius: 10px;
      background-color:#eeefee;
      @include open-sans(400, 14px, $gray-base);
      text-decoration: none;
      @include transition(0.25s);
      &:hover{
        background-color:#1a85db;
        color:white;
      }
    }

	}
}

.gray-line{
	height: 1px;
	background: $gray-line;
	width: 100%;
	margin: 10px 0;
}

.white-line {
	@include gridle(12);
	height: 1px;
	background: white;
	margin: 10px 0;
}

.gray-bg {
	background: $gray-bg;
}

.title-center {
	@include gridle(12);
	text-align: center;
}

.title-depto {
	@include gridle(12);
	font-size: 16px;
	margin: 15px 0;
}

.modulo-noticia {
	@include gridle(12);
	@include gridle(12, mobile tablet);
}

.noticia {
	@include gridle(12);
	background-color: white;
	padding: 0;
	margin-bottom: 15px;
	border: 1px solid $gray-line;
	.imagen-noticia {
		@include gridle(3);
		@include gridle(12, mobile);
		padding: 0;
		max-height: 248px;
		margin: 0;
		overflow: hidden;
		img {
			@include gridle_state(mobile) {
				width: 100%;
				height: auto;
			}
			max-height: 100%;
			width: auto;
		}
	}
	.info-noticia {
		@include gridle(9);
		@include gridle(12, mobile);
    position: relative;
    height:250px;
    min-height: 250px;
		padding: 15px;
		p {
			margin: 0;
		}
    .read-more{
      position: absolute;
      bottom: 3%;
      right: 30px;
    }
	}
}

.date-news-main {
	@include droid-serif(12px, $light-gray);
}

.separator {
	border: 1px solid $gray-line;
	margin: 0;
}

.title-noticia {
	margin: 5px 0 0 0;
	a {
		@include open-sans(600, 17px, $gray-base);
		text-decoration: none;
		@include transition(0.25s);
	}
	a:hover {
		color: $blue-base;
	}
}

.social {
	display: inline-block;
	padding: 0;
	margin: 5px 0;
	li {
		float: left;
		list-style: none;
		margin: 0 5px 0 0;
		height: 31px;
		img {
			margin: 0;
			height: 31px;
			@include transition(0.4s);
		}
		img:hover {
			opacity: 0.85;
			-ms-filter: "progid_DXImageTransform.Microsoft.Alpha(Opacity=85)";
		}
	}
}

.read-more {
	text-align: right;
	a {
		@include droid-serif(14px, $blue-base);
		text-decoration: none;
		@include transition(0.25s);
	}
	a:hover {
		color: darken($blue-base, 20%);
	}
}

.old-news-modulo {
	@include gridle(5);
	@include gridle(12, mobile);
	@include gridle_state(tablet) {
		width: 80%;
		margin: 20px 10%;
	}
	.calendar-date{
		@include gridle(2);
	}
	.calendar-title {
		@include gridle(10);
		a {
			@include open-sans(600, 16px, $gray-base);
			margin-top: 10px;
			text-decoration: none;
			@include transition(0.25s);
		}
		a:hover {
			color: $blue-base;
		}
	}
	.gray-line {
		@include gridle(12);
	}
}



.full-noticia {
	@include gridle(4);
	@include gridle(6, tablet);
	@include gridle(12, mobile);
	.content-full-noticia {
		margin-bottom: 20px;
		border: 1px solid $gray-line;
		background: white;
	}
	.text-full-noticia {
		padding: 15px;
	}
	figure {
		height: 200px;
		overflow: hidden;
		img {
			max-width: 100%;
			height: auto;
		}
	}
}

.main-new {
	@include gridle(7);
	@include gridle(12, tablet mobile);
	margin-bottom: 20px;
	img {
		width: 100%;
		height: auto;
		margin-top: 15px;
	}
}

.calendar {
	width: 45px;
	background-color: white;
	border: 1px solid $gray-line;
	border-radius: 3px;
	overflow: hidden;
	display: block;
	.calendar-day {
		@include droid-serif(24px, $gray-base);
		text-align: center;
		padding: 2px;
	}
	.calendar-month {
		background-color: #F06576;
		padding: 2px;
		@include montserrat(10px, white);
		text-align: center;
		text-transform: uppercase;
	}
}

.btn-blue {
	@include montserrat(14px, white);
	display: block;
	clear: both;
	font-weight: 700;
	padding: 10px 20px;
	text-transform: uppercase;
	text-align: center;
	max-width: 250px;
	background-color: $blue-base;
	margin: 15px auto 0 auto;
	text-decoration: none;
	@include transition(0.25s);
	&:hover {
		background-color: darken($blue-base, 20%);
	}
}

.bibliotecas {
	background-color:#60cce6;
	h3 {
		text-align: center;
		color: white;
		margin: 0;
	}
	hr {
		border: 1px solid white;
		margin: 10px 0 15px 0;
	}
	nav {
		margin: 0 auto;
		@include gridle_hide(mobile);
		label {
			@include montserrat(14px, darken($blue-base, 20%));
			@include gridle(3);
			text-align: center;
			text-transform: uppercase;
			padding: 5px 0;
			position: relative;
			display: inline-block;
      background:white;
      border-radius:10px;

		}
		a {
			@include montserrat(14px, white);
			width:24%;
			text-decoration: none;
			text-align: center;
			text-transform: uppercase;
			padding: 5px 0;
			position: relative;
			display: inline-block;
			outline: none;
      &.section-selected{
        @include montserrat(14px, darken($blue-base, 20%));
        position: relative;
        background:white;
        border-radius:10px;
      }
		}
		a::after {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			width: 20%;
			margin-left: auto;
			margin-right: auto;
			height: 1px;
			background: white;
			content: '';
			opacity: 0;
			@include transition(0.25s);
			-webkit-transform: translateY(-10px);
			-moz-transform: translateY(-10px);
			transform: translateY(-10px);
		}
		a:hover::after,
		a:focus::after {
			height: 2px;
			opacity: 1;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			transform: translateY(0px);
		}
	}
	.biblioteca-map {
        @include gridle_hide(mobile tablet);
        width: 100%;
        height: auto;
        margin: 30px 0 20px 0;
    }
    .biblioteca-map-medium {
        @include gridle_hide(desktop giant mobile);
        @include gridle_show(tablet);
        width: 90%;
        margin: auto;
        padding-top: 30px;
    }
    .biblioteca-map-small {
        @include gridle_hide(desktop giant tablet);
        @include gridle_show(mobile);
    }
    .map-small {
        margin: 30px auto 0 auto;
        width: 95%;
        height: auto;
    }
}

footer {
	background-color: #dcdcdc;
  color:#919191;
	.footer-btns {
		@include gridle(3);
		@include gridle(12, mobile);
		@include gridle_state(mobile){
			margin-bottom: 40px;
		}
	}
	.links {
		@include gridle(2);
		@include gridle_hide(mobile);
		float: right;
		margin-bottom: 15px;
		label {
			@include montserrat(12px, #323232);
			text-transform: uppercase;
		}
		ul {
			list-style-type: none;
			margin: 5px 0 0 0;
			padding: 0;
			a {
				@include open-sans(400, 12px, #323232);
				text-decoration: none;
				margin-bottom: 2px;
				@include transition(0.25s);
			}
			a:hover {
				color: $blue-base;
			}
		}
	}
	hr {
		@include gridle(12);
		border: 1px solid #323232;
		margin: 30px 0 10px 0;
	}
	.copyright {
		@include gridle(5);
		@include gridle(12, mobile);
		@include open-sans(400, 12px, #323232);
		@include gridle_state(mobile){
			text-align: center;
		};
	}
	.links-footer {
		@include gridle(5);
		@include gridle(12, mobile);
		float: right;
		nav {
			@include gridle_hide(mobile);
			display: block;
			float: right;
			a {
				@include open-sans(400, 12px, #323232);
				text-decoration: none;
				margin-left: 15px;
				@include transition(0.25s);
			}
			a:hover {
				color: $blue-base;
			}
		}
	}
}

.btn-contacto {
	@include gridle(3);
	text-align: center;
	margin-top: 15px;
	@include transition(0.25s);
	&:hover {
		opacity: 0.5;
		-ms-filter: "progid_DXImageTransform.Microsoft.Alpha(Opacity=50)";
	}
}

.munki-footer {
	background: #232323;
	text-align: right;
  color:white;
  a{
    @include montserrat(12px, white);
    text-decoration: none;
    &:hover{
      @include montserrat(12px, white);
      text-decoration: none;
    }
  }
	@include gridle_state(mobile tablet){
		text-align: center;
	};
	img {
		width: 21px;
		height: auto;
		@include transition(0.4s);
	}
	img:hover {
		opacity: 0.5;
		-ms-filter: "progid_DXImageTransform.Microsoft.Alpha(Opacity=50)"
	}
}

.pagination {
	margin-top: 30px;
	text-align: center;
	a{
		text-decoration:none;
		color: #4A4A4A;
		&:hover {
			background: #9bccf3;
			color: white;
		}
	}
	span {
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		font-weight: 400;
		font-size: 15px;
		color: #4A4A4A;
		text-decoration: none;
		padding: 6px 12px;
		margin: 0 3px;
		border-radius: 20px;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		-o-transition: 0.3s;
		-ms-transition: 0.3s;
		transition: 0.3s;
	}
	.active {
		background: #1A85DB;
		color: white;
	}
	.nav-disabled {
		padding: 6px 4px;
		border-radius: 20px;
		background: none;
		border: 1px solid #979797;
		color: #979797;
		cursor: default;
	}
	.nav-enabled {
		padding: 6px 4px;
		border-radius: 20px;
		background: none;
		border: 1px solid #4A4A4A;
		color: #4A4A4A;
		&:hover {
			border: 1px solid #9bccf3;
			background: #9bccf3;
			color: white;
		}
	}
}

input.btn-primary,input.btn-secondary{
	border: 0;
	padding-bottom: 30px;
}

@import 'search';

.slider-box{
	height:100%;
	width:300%;
}

.slider-container{
	height:20%;
	margin:0 auto;
	overflow:hidden;
	text-align: left;
	width:100%;
}

.slider-element{
	float:left;
	width:33.3333%;
	-webkit-transition:all 1.0s ease-in-out;
	-moz-transition:all 1.0s ease-in-out;
	-o-transition:all 1.0s ease-in-out;
	transition:all 1.0s ease-in-out;
}

.servicios{
  @include montserrat(14px, $gray-base);
  a{
    text-decoration: none;
    color:#1a85db;
  }
  table{
    border-collapse: collapse;
    width:80%;
    caption{
      font-weight: bold;
    }
    thead{
      background: #1a85db;
      color: white;
      border-top: #1a85db 1px solid;
    }
  }
}

@import "catalogo";
