<div class="submenu">
		<div class="container header">
			<nav>
				<a href="#">Formulario Online</a>
				<a href="#">Alumni</a>
			</nav>
		</div>
	</div>
	
	<header>
		<div class="container header">
			<a href="index.html"><img class="main-logo-header" src="/images/logo-sibib-color.png" alt="" /></a>
			<a href="#" ><img class="mini sb-toggle-right" src="/images/mini-nav.png" alt="" /></a>
			<nav>
				<a class="main" href="/">Inicio</a>
				<a class="main" href="/noticias">Noticias</a>
				<a class="main" href="/sibib">SIBIB</a>
				<a class="main" href="/recursos">Recursos de Información</a>
				<label class="selected">Servicios</label>
				<a class="main" href="/informacion">Gestión</a>
			</nav>
		</div>
	</header>
	
	
	<div class="nav-menu">
		<div class="container small">
			<nav>
				<label class="section-selected" >Capacitaciones</label>
				<a href="/credenciales" class="nav-link">Credenciales</a>
				<a href="/actualidad" class="nav-link">Actualidad</a>
			</nav>
		</div>
	</div>
	
	<div class="container">
		<h1 class="title-section">Capacitaciones</h1>
		<hr class="title-line" />
	</div>
	
	<div class="container title">
		<img class="img-section" src="/images/sibib/mision.png" alt="" />
		<div class="info-section">
			<p class="p-standard" id="no-margin">Programa formal de orientación y capacitación de usuarios, dirigido a los alumnos y académicos de la Universidad Católica del Maule, cuyo objetivo es capacitar, de acuerdo a sus requerimientos, en el acceso y uso de los recursos y servicios disponibles en las bibliotecas.
			<br /><br />
			La forma de acceder a este servicio es solicitándolo a los Bibliotecólogos Referencistas de las respectivas bibliotecas, Talca, Curicó y Los Niches.
			Las capacitaciones que ofrece el SIBIB  son:</p>
		</div>
	</div>	