<div class="submenu">
		<div class="container header">
			<nav>
				<a href="#">Formulario Online</a>
				<a href="#">Alumni</a>
			</nav>
		</div>
	</div>
	
	<header>
		<div class="container header">
			<a href="index.html"><img class="main-logo-header" src="/images/logo-sibib-color.png" alt="" /></a>
			<a href="#" ><img class="mini sb-toggle-right" src="/images/mini-nav.png" alt="" /></a>
			<nav>
				<a class="main" href="/">Inicio</a>
				<a class="main" href="/noticias">Noticias</a>
				<a class="main" href="/sibib">SIBIB</a>
				<a class="main" href="/recursos">Recursos de Información</a>
				<label class="selected">Servicios</label>
				<a class="main" href="/informacion">Gestión</a>
			</nav>
		</div>
	</header>
	
	
	<div class="nav-menu">
		<div class="container small">
			<nav>
				<a href="/capacitaciones" class="nav-link">Capacitaciones</a>
				<label class="section-selected">Credenciales</label>
				<a href="/actualidad" class="nav-link">Actualidad</a>
			</nav>
		</div>
	</div>
	
	<div class="container">
		<h1 class="title-section">Credenciales</h1>
		<hr class="title-line" />
	</div>
	
	<div class="container title">
		<img class="img-section" src="/images/sibib/mision.png" alt="" />
		<div class="info-section">
			<h3>Información</h3>
			<p class="p-standard">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat, est sit amet interdum blandit, mi orci faucibus nibh, vitae auctor mi tellus nec felis. Sed ac scelerisque sapien. Integer semper mauris nec magna mollis ullamcorper. Integer sollicitudin lorem at tempor fermentum. Proin sagittis, lorem et dictum dictum, turpis lorem malesuada elit, vel consectetur lectus augue vitae lectus. Vestibulum posuere scelerisque odio, sed volutpat lorem. Vestibulum quis lacus et ante pulvinar convallis. Vivamus mauris ipsum, consectetur et elit eu, ornare eleifend quam.</p>
		</div>
	</div>	