 <div class="submenu">
	<div class="container header">
		<nav>
			<a href="#">Formulario Online</a>
			<a href="#">Alumni</a>
		</nav>
	</div>
</div>

<div class="welcome">
	<header>
		<div class="shadow">
			<div class="container header">
				<a href="/" id="logo-header">
					<div class="brand-header">Sistema de Bibliotecas de la Universidad Católica del Maule</div>
				</a>
				<a href="#" ><img class="mini sb-toggle-right" src="/images/mini-nav-white.png" alt="" /></a>
				<nav>
					<a href="/">Inicio</a>
					<a href="/noticias">Noticias</a>
					<a href="/sibib">SIBIB</a>
					<a href="/recursos">Recursos de Información</a>
					<a href="/capacitaciones">Servicios</a>
					<a href="/informacion">Gestión</a>
				</nav>
			</div>
		</div>
	</header>
	<div class="shadow-down">
		<div class="container title">
			<label for="" class="welcome-date">Sábado 02 de Abril de 2011</label>
			<h5><a href="#" class="welcome-title">Pellentesque rhoncus nisi quam, non ultricies velit porttitor et.</a></h5>
			<div class="btn-main">
				<a class="btn-news"><img src="/images/arrow-left.png" alt="" /></a>
				<a class="btn-news"><img src="/images/arrow-right.png" alt="" /></a>
			</div>
		</div>
	</div>
</div>  

<div class="container">
	<div class="busqueda">
		<h3>Búsqueda</h3>
		<div class="busqueda-modulo"></div>
	</div>
	<div class="destacamos">
		<h3>Destacamos</h3>
		<div class="destacamos-modulo">
			<div class="links-destacamos">
				<a href="#">Catálogo</a>
				<div class="gray-line"></div>
				<a href="#">Renovación de Préstamos</a>
				<div class="gray-line"></div>
				<a href="#">Base de Datos</a>
				<div class="gray-line"></div>
				<a href="/ebooks">eBooks</a>
				<div class="gray-line"></div>
				<a href="#">Repositorio UCM</a>
			</div>
		</div>
	</div>
</div>

<div class="gray-bg">
	<div class="container">
		<h3 class="title-center">Noticias</h3>
		<div class="modulo-noticia">  
			<!--Última noticia 1-->
			<div class="noticia">
				<figure class="imagen-noticia">
					<img src="/images/otros-repos/img-link-test.png" alt="" />
				</figure>
				<div class="info-noticia">
					<label for="fecha" class="date-news-main">Domingo 20 de Febrero de 2011</label>
					<div class="gray-line"></div>
					<h5 class="title-noticia"><a href="/noticias/1">Pellentesque rhoncus nisi quam, non ultricies velit porttitor et</a></h5>
					<ul class="social">
						<li><a href="#" class="simptip-position-top simptip-fade" data-tooltip="Comparte en Facebook"><img src="/images/fb.png" alt="Facebook" /></a></li>
						<li><a href="#" class="simptip-position-top simptip-fade" data-tooltip="Comparte en Twitter"><img src="/images/tw.png" alt="Twitter" /></a></li>
					</ul>
					<p class="p-standard">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel quam nibh. Praesent quis metus ligula. Phasellus feugiat nec dolor vitae molestie.</p>
					<div class="read-more"><a href="/noticias/1">Leer más →</a></div>
				</div>
			</div>
			
			<!--Última noticia 2-->
			<div class="noticia">
				<figure class="imagen-noticia">
					<img src="/images/otros-repos/img-link-test.png" alt="" />
				</figure>
				<div class="info-noticia">
					<label for="fecha" class="date-news-main">Domingo 20 de Febrero de 2011</label>
					<div class="gray-line"></div>
					<h5 class="title-noticia"><a href="/noticias/2">Pellentesque rhoncus nisi quam, non ultricies velit porttitor et</a></h5>
					<ul class="social">
						<li><a href="#" class="simptip-position-top simptip-fade" data-tooltip="Comparte en Facebook"><img src="/images/fb.png" alt="Facebook" /></a></li>
						<li><a href="#" class="simptip-position-top simptip-fade" data-tooltip="Comparte en Twitter"><img src="/images/tw.png" alt="Twitter" /></a></li>
					</ul>
					<p class="p-standard">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel quam nibh. Praesent quis metus ligula. Phasellus feugiat nec dolor vitae molestie.</p>
					<div class="read-more"><a href="/noticias/2">Leer más →</a></div>
				</div>
			</div>
			
		</div>
		
		
		<div class="old-news-modulo">
			
			<div class="calendar-date">
				<div class="calendar">
					<div class="calendar-day">
						<label for="">28</label>
					</div>
					<div class="calendar-month">
						<label for="">Feb</label>
					</div>
				</div>
			</div>
			<div class="calendar-title">
				<a href="/noticias/3">Pellentesque rhoncus nisi quam, non ultricies velit porttitor et.</a>
			</div>
			
			<div class="gray-line"></div>
			
			<div class="calendar-date">
				<div class="calendar">
					<div class="calendar-day">
						<label for="">28</label>
					</div>
					<div class="calendar-month">
						<label for="">Feb</label>
					</div>
				</div>
			</div>
			<div class="calendar-title">
				<a href="/noticias/4">Pellentesque rhoncus nisi quam, non ultricies velit porttitor et.</a>
			</div>
			
			<div class="gray-line"></div>
			
			<div class="calendar-date">
				<div class="calendar">
					<div class="calendar-day">
						<label for="">28</label>
					</div>
					<div class="calendar-month">
						<label for="">Feb</label>
					</div>
				</div>
			</div>
			<div class="calendar-title">
				<a href="/noticias/5">Pellentesque rhoncus nisi quam, non ultricies velit porttitor et.</a>
			</div>
			
			<div class="gray-line"></div>
			
			<div class="calendar-date">
				<div class="calendar">
					<div class="calendar-day">
						<label for="">28</label>
					</div>
					<div class="calendar-month">
						<label for="">Feb</label>
					</div>
				</div>
			</div>
			<div class="calendar-title">
				<a href="/noticias/6">Pellentesque rhoncus nisi quam, non ultricies velit porttitor et.</a>
			</div>
			
			<div class="gray-line"></div>
			
			<div class="calendar-date">
				<div class="calendar">
					<div class="calendar-day">
						<label for="">28</label>
					</div>
					<div class="calendar-month">
						<label for="">Feb</label>
					</div>
				</div>
			</div>
			<div class="calendar-title">
				<a href="/noticias/6">Pellentesque rhoncus nisi quam, non ultricies velit porttitor et.</a>
			</div>
			
			<div class="gray-line"></div>
			
			<div class="calendar-date">
				<div class="calendar">
					<div class="calendar-day">
						<label for="">28</label>
					</div>
					<div class="calendar-month">
						<label for="">Feb</label>
					</div>
				</div>
			</div>
			<div class="calendar-title">
				<a href="/noticias/7">Pellentesque rhoncus nisi quam, non ultricies velit porttitor et.</a>
			</div>
			
			<div class="gray-line"></div>
			
			<a href="/noticias" class="btn-blue">Ver todas las noticias</a>
		</div>
	</div>
</div>

<div class="bibliotecas">
	<div class="container">
		<h3 id="h-white">Bibliotecas</h3>
		<div class="white-line"></div>
		<nav>
			<label>San Miguel</label>
			<a href="#">Nuestra Señora del Carmen</a>
			<a href="#">San Isidro</a>
			<a href="#">Villa Huilquilemu</a>
		</nav>
		<img class="biblioteca-map" src="/images/map-l-miguel.png" alt="" />
		<img class="biblioteca-map-medium" src="/images/map-m-miguel.png" alt="" />
		<img class="map-small biblioteca-map-small " src="/images/map-s-miguel.png" alt="" />
		<div class="btn-main biblioteca-map-small">
			<a class="btn-news"><img src="/images/arrow-left.png" alt="" /></a>
			<a class="btn-news"><img src="/images/arrow-right.png" alt="" /></a>
		</div>
	</div>
</div>