<div class="submenu">
	<div class="container header">
		<nav>
			<a href="#">Formulario Online</a>
			<a href="#">Alumni</a>
		</nav>
	</div>
</div>

<header>
	<div class="container header">
		<a href="/"><img class="main-logo-header" src="/images/logo-sibib-color.png" alt="" /></a>
		<a href="/" ><img class="mini sb-toggle-right" src="/images/mini-nav.png" alt="" /></a>
		<nav>
			<a class="main" href="/">Inicio</a>
			<label class="selected">Noticias</label>
			<a class="main" href="/sibib">SIBIB</a>
			<a class="main" href="/recursos">Recursos de Información</a>
			<a class="main" href="/capacitaciones">Servicios</a>
			<a class="main" href="/informacion">Gestión</a>
		</nav>
	</div>
</header>

<div class="container">
	<h1 class="title-section">Noticias</h1>
	<hr class="title-line" />
</div>

<div class="container small">
	<div class="full-noticia">
		<div class="content-full-noticia">
			<figure>
				<img src="/images/otros-repos/img-link-test.png" alt="" />
			</figure>
			<div class="text-full-noticia">
				<label for="date" class="date-news-main">Sábado 12 de Octubre 2014</label>
				<hr class="separator" />
				<h5 class="title-noticia"><a href="/noticias/1">Link Text</a></h5>
				<ul class="social">
					<li><a href="#" class="simptip-position-top simptip-fade" data-tooltip="Comparte en Facebook"><img src="/images/fb.png" alt="Facebook" /></a></li>
					<li><a href="#" class="simptip-position-top simptip-fade" data-tooltip="Comparte en Twitter"><img src="/images/tw.png" alt="Twitter" /></a></li>
				</ul>
				<p class="p-standard" id="no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel quam nibh. Praesent quis metus ligula. Phasellus feugiat nec dolor vitae molestie.</p>
				<div class="read-more"><a href="/noticias/1">Leer más →</a></div>
			</div>
		</div>
	</div>
	<div class="full-noticia">
		<div class="content-full-noticia">
			<figure>
				<img src="/images/otros-repos/img-link-test.png" alt="" />
			</figure>
			<div class="text-full-noticia">
				<label for="date" class="date-news-main">Sábado 12 de Octubre 2014</label>
				<hr class="separator" />
				<h5 class="title-noticia"><a href="/noticias/1">Link Text</a></h5>
				<ul class="social">
					<li><a href="#" class="simptip-position-top simptip-fade" data-tooltip="Comparte en Facebook"><img src="/images/fb.png" alt="Facebook" /></a></li>
					<li><a href="#" class="simptip-position-top simptip-fade" data-tooltip="Comparte en Twitter"><img src="/images/tw.png" alt="Twitter" /></a></li>
				</ul>
				<p class="p-standard" id="no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel quam nibh. Praesent quis metus ligula. Phasellus feugiat nec dolor vitae molestie.</p>
				<div class="read-more"><a href="/noticias/1">Leer más →</a></div>
			</div>
		</div>
	</div>
	<div class="full-noticia">
		<div class="content-full-noticia">
			<figure>
				<img src="/images/otros-repos/img-link-test.png" alt="" />
			</figure>
			<div class="text-full-noticia">
				<label for="date" class="date-news-main">Sábado 12 de Octubre 2014</label>
				<hr class="separator" />
				<h5 class="title-noticia"><a href="/noticias/1">Link Text</a></h5>
				<ul class="social">
					<li><a href="#" class="simptip-position-top simptip-fade" data-tooltip="Comparte en Facebook"><img src="/images/fb.png" alt="Facebook" /></a></li>
					<li><a href="#" class="simptip-position-top simptip-fade" data-tooltip="Comparte en Twitter"><img src="/images/tw.png" alt="Twitter" /></a></li>
				</ul>
				<p class="p-standard" id="no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel quam nibh. Praesent quis metus ligula. Phasellus feugiat nec dolor vitae molestie.</p>
				<div class="read-more"><a href="/noticias/1">Leer más →</a></div>
			</div>
		</div>
	</div>
	
	
</div>