<div class="submenu">
		<div class="container header">
			<nav>
				<a href="#">Formulario Online</a>
				<a href="#">Alumni</a>
			</nav>
		</div>
	</div>
	
	<header>
		<div class="container header">
			<a href="/"><img class="main-logo-header" src="/images/logo-sibib-color.png" alt="" /></a>
		<a href="/" ><img class="mini sb-toggle-right" src="/images/mini-nav.png" alt="" /></a>
			<nav>
				<a class="main" href="/">Inicio</a>
				<label class="selected">Noticias</label>
				<a class="main" href="/sibib">SIBIB</a>
				<a class="main" href="/recursos">Recursos de Información</a>
				<a class="main" href="/capacitaciones">Servicios</a>
				<a class="main" href="/informacion">Gestión</a>
			</nav>
		</div>
	</header>
	
	<div class="container">
		<h1 class="title-section">Noticias</h1>
		<hr class="title-line" />
	</div>
	
	<div class="container">		
		<div class="main-new">
			<label for="date" class="date-news-main">Sábado 12 de Octubre 2014</label>
			<h5 class="title-noticia"><a href="#">Pellentesque rhoncus nisi quam, non ultricies velit porttitor et.</a></h5>
			<img src="/images/otros-repos/img-link-test.png" alt="" />
			<ul class="social">
				<li><a href="#" class="simptip-position-top simptip-fade" data-tooltip="Comparte en Facebook"><img src="/images/fb.png" alt="Facebook" /></a></li>
				<li><a href="#" class="simptip-position-top simptip-fade" data-tooltip="Comparte en Twitter"><img src="/images/tw.png" alt="Twitter" /></a></li>
			</ul>
			<p class="p-standard" id="no-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel vestibulum quam, quis porttitor massa. Quisque in mauris pulvinar, auctor erat quis, rhoncus augue. Donec facilisis justo nec augue dignissim, at venenatis augue vulputate. Phasellus massa libero, convallis ut nisi at, fringilla faucibus elit. Proin ut leo odio. Nulla molestie, tortor id elementum aliquet, ipsum ligula rutrum risus, a dapibus massa magna a felis. Vivamus eget ipsum dictum, adipiscing orci sit amet, egestas velit. Donec imperdiet, quam vitae congue euismod, quam tortor sagittis arcu, sit amet rutrum sem tortor vel sapien. Donec placerat diam eu commodo ullamcorper. Integer nec vehicula neque. Aliquam erat volutpat. Vestibulum at lorem nec nisi elementum euismod at ut nibh. Phasellus ultrices porttitor nunc rutrum accumsan.
			<br /><br />
			Phasellus mi urna, vehicula vitae purus nec, commodo feugiat justo. Maecenas tempus tellus tempor, tristique turpis et, vestibulum sem. Duis eu purus pharetra, fermentum ligula ac, facilisis odio. Ut pretium justo tempor, bibendum mauris a, blandit velit. Proin porta tellus id placerat sagittis. Nunc velit nibh, sodales ac magna vel, mattis dapibus mauris. Maecenas id urna sodales, consequat felis ut, convallis massa. Etiam tincidunt a arcu ac pretium. Nunc porttitor dignissim nisi in iaculis. Suspendisse faucibus congue ante, ut elementum turpis euismod vitae.
			<br /><br />
			Pellentesque diam urna, ullamcorper quis pretium sed, dignissim id eros. Integer justo diam, ullamcorper eget posuere sit amet, malesuada non massa. Sed ipsum lorem, vulputate id egestas in, elementum eu sem. Nam ut convallis nibh. Curabitur vulputate neque ligula, at pretium magna malesuada sed. Etiam eget lorem vel massa egestas ultricies scelerisque non eros. Aliquam fringilla sapien vel arcu sodales, ac posuere risus dapibus. Sed viverra, lorem non lobortis mattis, urna arcu tempor eros, in mattis purus massa fringilla erat. In hac habitasse platea dictumst. Nunc ullamcorper augue libero, quis mollis nisi imperdiet lobortis. Ut fringilla tellus mi, eu varius nulla lacinia at. Cras ipsum lacus, ullamcorper ac lobortis ac, accumsan eu magna. Praesent justo eros, dapibus non nisi id, pretium bibendum libero. Nunc commodo egestas lobortis. Pellentesque lobortis viverra consectetur. Vestibulum eu ligula condimentum, sollicitudin orci nec, luctus ligula.</p>
		</div>
		
		<div class="old-news-modulo">
			<h3>Otras Noticias</h3>
			
			<div class="calendar-date">
				<div class="calendar">
					<div class="calendar-day">
						<label for="">28</label>
					</div>
					<div class="calendar-month">
						<label for="">Feb</label>
					</div>
				</div>
			</div>
			<div class="calendar-title">
				<a href="#">Pellentesque rhoncus nisi quam, non ultricies velit porttitor et.</a>
			</div>
			
			<div class="gray-line"></div>
			
			<div class="calendar-date">
				<div class="calendar">
					<div class="calendar-day">
						<label for="">28</label>
					</div>
					<div class="calendar-month">
						<label for="">Feb</label>
					</div>
				</div>
			</div>
			<div class="calendar-title">
				<a href="#">Pellentesque rhoncus nisi quam, non ultricies velit porttitor et.</a>
			</div>
			
			<div class="gray-line"></div>
			
			<div class="calendar-date">
				<div class="calendar">
					<div class="calendar-day">
						<label for="">28</label>
					</div>
					<div class="calendar-month">
						<label for="">Feb</label>
					</div>
				</div>
			</div>
			<div class="calendar-title">
				<a href="#">Pellentesque rhoncus nisi quam, non ultricies velit porttitor et.</a>
			</div>
			
			<div class="gray-line"></div>
			
			<div class="calendar-date">
				<div class="calendar">
					<div class="calendar-day">
						<label for="">28</label>
					</div>
					<div class="calendar-month">
						<label for="">Feb</label>
					</div>
				</div>
			</div>
			<div class="calendar-title">
				<a href="#">Pellentesque rhoncus nisi quam, non ultricies velit porttitor et.</a>
			</div>
			
			<div class="gray-line"></div>
			
			<div class="calendar-date">
				<div class="calendar">
					<div class="calendar-day">
						<label for="">28</label>
					</div>
					<div class="calendar-month">
						<label for="">Feb</label>
					</div>
				</div>
			</div>
			<div class="calendar-title">
				<a href="#">Pellentesque rhoncus nisi quam, non ultricies velit porttitor et.</a>
			</div>
			
			<div class="gray-line"></div>
			
			<a href="#" class="btn-blue">Ver todas las noticias</a>
		</div>
		
		</div>
		
	</div>
	