
	<div class="submenu">
		<div class="container header">
			<nav>
				<a href="#">Formulario Online</a>
				<a href="#">Alumni</a>
			</nav>
		</div>
	</div>
	
	<header>
		<div class="container header">
			<a href="index.html"><img class="main-logo-header" src="/images/logo-sibib-color.png" alt="" /></a>
			<a href="#" ><img class="mini sb-toggle-right" src="/images/mini-nav.png" alt="" /></a>
			<nav>
				<a class="main" href="/">Inicio</a>
				<a class="main" href="/noticias">Noticias</a>
				<a class="main" href="/sibib">SIBIB</a>
				<label class="selected">Recursos de Información</label>
				<a class="main" href="/capacitaciones">Servicios</a>
				<a class="main" href="/informacion">Gestión</a>			</nav>
		</div>
	</header>
	
	
	<div class="nav-menu">
		<div class="container small">
			<nav class="nav-left">
				<a href="recursos.html" class="nav-link">Recursos de Información</a>
				<label>></label>
				<label class="section-selected">Otros repositorios</label>
			</nav>
		</div>
	</div>
	
	<div id="repo-bg">
		<div class="container">
			<img src="/images/icons/icon-repo.png" alt="" />
			<h1 class="title-section">Otros Repositorios</h1>
			<hr class="title-line" />
		</div>
	</div>
	
	<div class="container">
		<a href="#" class="btn-link">
			<div class="btn-content">
				<figure class="img-link">
					<img src="/images/otros-repos/img-link-test.png" alt="" />
				</figure>
				<div class="content-link">
					<label for="">Link 1</label>
					<p class="p-standard">Lorem ipsum dolor sit amet</p>
				</div>
			</div>
		</a>
	</div>
	
		
	