
	<div class="submenu">
		<div class="container header">
			<nav>
				<a href="#">Formulario Online</a>
				<a href="#">Alumni</a>
			</nav>
		</div>
	</div>
	
	<header>
		<div class="container header">
			<a href="index.html"><img class="main-logo-header" src="/images/logo-sibib-color.png" alt="" /></a>
			<a href="#" ><img class="mini sb-toggle-right" src="/images/mini-nav.png" alt="" /></a>
			<nav>
				<a class="main" href="index.html">Inicio</a>
				<a class="main" href="noticias.html">Noticias</a>
				<a class="main" href="sibib.html">SIBIB</a>
				<label class="selected">Recursos de Información</label>
				<a class="main" href="capacitaciones.html">Servicios</a>
				<a class="main" href="informacion.html">Gestión</a>
			</nav>
		</div>
	</header>
	
	<div class="container">
		<h1 class="title-section">Recursos de Información</h1>
		<hr class="title-line" />
	</div>
	
	<div class="container small">
	
		<a href="#" class="btn-link">
			<div class="btn-content">
			<div class="icon-link" id="catalogo-ucm">
				<img src="/images/icons/icon-catalogo.png" />
			</div>
			<label for="">Catálogo UCM</label>
			</div>
		</a>
		<a href="#" class="btn-link">
			<div class="btn-content">
			<div class="icon-link" id="otros-catalogos">
				<img src="/images/icons/icon-catalogo.png" />
			</div>
			<label for="">Otros Catálogos</label>
			</div>
		</a>
		<a href="/base-datos" class="btn-link">
			<div class="btn-content">
			<div class="icon-link" id="datos">
				<img src="/images/icons/icon-datos.png" />
			</div>
			<label for="">Base de Datos</label>
			</div>
		</a>
		<a href="#" class="btn-link">
			<div class="btn-content">
			<div class="icon-link" id="revistas">
				<img src="/images/icons/icon-revistas.png" />
			</div>
			<label for="">Revistas Electrónicas</label>
			</div>
		</a>
		<a href="ebooks.html" class="btn-link">
			<div class="btn-content">
			<div class="icon-link" id="ebooks">
				<img src="/images/icons/icon-ebooks.png" />
			</div>
			<label for="">E-BOOKS</label>
			</div>
		</a>
		<a href="#" class="btn-link">
			<div class="btn-content">
			<div class="icon-link" id="repo">
				<img src="/images/icons/icon-repo.png" />
			</div>
			<label for="">Repositorio UCM</label>
			</div>
		</a>
		<a href="/otros-repos" class="btn-link">
			<div class="btn-content">
			<div class="icon-link" id="otros-repo">
				<img src="/images/icons/icon-repo.png" />
			</div>
			<label for="">Otros Repositorios</label>
			</div>
		</a>
		<a href="/recursos-por-area" class="btn-link">
			<div class="btn-content">
			<div class="icon-link" id="area">
				<img src="/images/icons/icon-area.png" />
			</div>
			<label for="">Recursos por Área</label>
			</div>
		</a>
	
	</div>
	
	